// PROCESS
// 0. CSS reset
// 1. Set basic variables & media query ranges
// 2. Style large blocks with bg colors for layout
// 3. Get general layout elements (block) sized for all media queries
// 4. Modify general layout elements with &
// 5. Secondary features grid (S --> L)
// 6. Typography & Image Sizes
// 7. Refactor the SCSS to make it dryer & simpler.
// 8. Set variables for common values.

// 0. RESETS & FRAMEWORKS
@import "partials/reset";

* {
  box-sizing: border-box;
  font-style: Oswald;
  transition: all 1s ease;
}

// VARIABLES & MIXINS
$mobile-width: 95%;
// Mixins

// MEDIA QUERY RANGES
$medium: "only screen and (min-width: 630px)";
$large: "only screen and (min-width:900px)";

// GENERAL STYLES
body {
  background-color: #F5F5F5;
  background-image: url(./../assets/Puppy_pavement.jpg);
  background-repeat: no-repeat;
  background-size: 100% 250px;
}

#header_div {
  height: 200px;
  width: 100%


}

h1 {
margin-top: 60px;
text-align: center;
color: #878288;
font-size: 48px;
font-family: Verdana, Geneva, sans-serif;
}

h3{
text-align: center;
color: #878288;
font-size: 18px;
font-weight: bold;
font-family: Verdana, Geneva, sans-serif;
}

.photoBackground{
  padding: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  min-height: 250px;
  margin: 25px;

}
.image-container {
  flex: 0 0 26.5%;
  margin: 10px 10px;
  // height: 100%;
  padding: 10px;
  // margin-bottom: 2.5%;
  // margin-left: 1.75%;
  // margin-right: 1.75%;

  img {
    max-width: 100%;
    width: 100%;
    max-height: 100%;
  }

  ul {
    width: 100%;
    list-style-type: none;
    font-family: Verdana, Geneva, sans-serif;
    color: #878288;
    font-size: 0.75em;
    text-align: center;
    padding-top: 10px;
    a {
      color: #888888;
    }
  }

}

#mainHeader {
}