$light-color : #fdfdfd;
$border-color: #a0a0a0;
$header-desc-color: #909090;
$text-color: #606060;

#newPostForm, #editPostForm {
  width: 90%;
  margin: auto;
  @include respond-to(medium) {
    width: 85%;
  }
}

textarea, input[type=text] {
  width: 100%;
  resize: vertical;
  font-family: sans-serif;
  @include respond-to(medium) {
    width: 62.5%;
  }
}

#login {
  font-size: 14px;
  color: $text-color;
  width: 50%;
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: space-between;
  @include respond-to(medium) {
    width: 85%;
  }
  form {
    border: 1px solid $border-color;
    padding: 8px;
    input, button {
      margin: auto;
      width: 180px;
    }
  }
}