$light-color : #fdfdfd;
$border-color: #a0a0a0;
$header-desc-color: #909090;
$text-color: #606060;
$invalid-color: #e08690;

#newPostForm, #editPostForm {
  width: 90%;
  margin: auto;
  @include respond-to(medium) {
    width: 85%;
  }
}

textarea, input[type=text] {
  width: 100%;
  resize: vertical;
  font-family: sans-serif;
  @include respond-to(medium) {
    width: 62.5%;
  }
}

#login {
  font-size: 14px;
  color: $text-color;
  width: 50%;
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  @include respond-to(medium) {
    width: 85%;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: flex-start;
  }
  form {
    h5 {
      font-size: 9px;
      font-weight: normal;
    }
    border: 1px solid $border-color;
    padding: 8px;
    margin-bottom: 8px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    @include respond-to(medium) {
      margin-right: 8px;
    }
    input, button, a {
      margin: auto;
      width: 180px;
    }
  }
  #invalid {
    box-shadow:  0px 0px 2px $invalid-color, 0px 0px 4px $invalid-color;
  }
}