#newPostForm, #editPostForm {
  width: 90%;
  margin: auto;
  @include respond-to(medium) {
    width: 85%;
  }
}

textarea, input[type=text] {
  width: 100%;
  resize: vertical;
  font-family: sans-serif;
  @include respond-to(medium) {
    width: 62.5%;
  }
}

#login {
  font-size: 14px;
  color: $text-color;
  width: 90%;
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: space-between;
  @include respond-to(medium) {
    width: 85%;
  }
}