$light-color : #fdfdfd;
$border-color: #a0a0a0;
$header-desc-color: #909090;
$text-color: #606060;


#buttons {
  margin: auto;
  width: 90%;
  @include respond-to(medium) {
    width: 85%;
  }
  button {
    margin-right: 8px;
  }
}

#gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: auto;
  margin-top: 8px;
  width: 95%;
  @include respond-to(medium) {
    width: 100%;
  }
}
.galleryPreview {
  width: 100%;
  @include respond-to(medium) {
    width: 32%;
  }
}

.preview {
  width: 100%;
}

#featured {
  margin: auto;
  padding: 8px;
  border-bottom: 1px solid $border-color;
  width: 90%;
  @include respond-to(medium) {
    width: 85%;
  }
}

#featuredImage {
  width: 100%
}