$light-color : #fdfdfd;
$border-color: #a0a0a0;
$header-desc-color: #909090;
$text-color: #606060;

#notFound {
  font-size: 14px;
  color: $text-color;
  width: 90%;
  margin: auto;
  @include respond-to(medium) {
    width: 85%;
  }
}