$light-color : #fdfdfd;
$border-color: #a0a0a0;
$header-desc-color: #909090;
$text-color: #606060;

#photoTitle {
  color: $header-desc-color;
  width: 85%;
  margin: auto;
  padding-bottom: 12px;
}

.relatedPhoto {
  text-align: right;
  h5 {
    text-align: left;
    margin-top: 12px;
    margin-bottom: 24px;
  }
}
.relatedPreview {
  width: 100%;
  @include respond-to(medium) {
    width: 250px;
  }
}

#photoDiv {
  width: 100%;
  @include respond-to(medium) {
    width: 60%;
  }
  a {
    margin-right: 16px;
    button {
      width: 80px;
    }
  }
}
.detail {
  width: 100%;
}

#sidebar {
  width: 100%;
  flex-flow: column nowrap;
  display: none;
  @include respond-to(medium) {
    display: inline-block;
    width: 250px;
  }
}