$background-color: white;
$div: #ff0000;

body {
  background-color: $background-color;
}

#border {
  border-style: double;
}

div {
  //border-style: double;
  display: flex;
  align: center;
  height: 100%;
  background-color: $div;
  border-style: dotted;
  #header{
    flex: 1 1 75%
  }
  #about{
    flex: 1 1 25%;
  }
  #picture{
    flex: 1 1 33%;
  }
  #url {
    border-style: solid;
    border-left-color: #00FFFF;
    align: left;
  }
  #author {
    border-style: solid;
    border-left-color: #7FFF00;
    align: left;
  }
  #description {
    border-style: solid;
    border-left-color: #00008B;
    align: left;
  }
  #submit {
    border-style: solid;
    border-left-color: #8B008B;
    align: left;
  }
  #galleryPhoto {
    border-style: solid;
    align: left;
    //position: absolute;
    width: 33%;
    height: 33%;
  }
  #galleryPhoto:hover {
    border-style: double;
    align: left;
  }
}