
  <h1>Please fill in info</h1>
  <p>**************************</p>

  <form action="/photos" method="post">
    author:<br>
    <input type="text" name="author" value=""><br>

    link:<br>
    <input type="text" name="link" value=""><br>

    description:<br>
    <input type="text" name="description" value=""><br><br>
    <input type="submit" value="Submit">
  </form>