<h1>Edit Art!</h1>
===================
<h2>TITLE: {{title}}</h2>


<form method="POST" action="/gallery/{{id}}?_method=PUT" enctype="application/x-www-form-urlencoded">
title<input type="text" name="title">
author<input type="text" name="author">
link<input type="text" name="link">
description<input type="text" name="description">
  <button type="submit">EDI TART!</button>
</form>

<form method="POST" action="/gallery/{{id}}?_method=DELETE" enctype="application/x-www-form-urlencoded">
  <button type= "submit">DELETE</button>
</form>