<h1>Edit Art!</h1>

<form method="POST" action="/gallery/1?_method=PUT" enctype="application/x-www-form-urlencoded">
title<input type="text" name="title">
author<input type="text" name="author">
link<input type="text" name="link">
description<input type="text" name="description">
<button type="submit">NEW ART!</button>
</form>