<div id="header">
  <div class="logo-container">
    <h1 class="logo">_GREENTREK</h1>
  </div>
  <div class="headline-container">
    <p class="headline">Welcome to our online portfolio, we are a small group of passionate outdoors people and hikers,
      looking to change and create amazing digital images to inspire others to follow in our innovative footsteps. Free
      Greentrek WordPress Theme</p>
  </div>
</div>