{{#if user}}
<div id="logout"> </div>
{{else}}
<div id="logout">
  <form method="GET" action="/logout"><input class="logout__button" type="submit" value="Logout"></form>
</div>
{{/if}}
<div id="header">
  <div class="logo-container">
    <a href="/">
      <h1 class="logo">_GREENTREK</h1>
    </a>
  </div>
  <div class="headline-container">
    <p class="headline">Welcome to our online portfolio, we are a small group of passionate outdoors people and hikers,
      looking to change and create amazing digital images to inspire others to follow in our innovative footsteps. Free
      Greentrek WordPress Theme</p>
  </div>
</div>