<nav class='navbar' role='navigation'>
    <div class='container'>

        <div class='navbar-header'>
            <a class='navbar-logo' href='#'>
                <span class='classes header'></span>
                Classes Gallery
            </a>

            <ul class='navbar-dir'>
                <li>
                    <a href='/'>Gallery Home</a>
                </li>
            </ul>
        </div>
    </div>
</nav>