<meta charset='UTF-8'>
<title>The Classes - A Gallery</title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<style>
    /* media queries */

    @media only screen and (mmin-width: 250px) {

        .gallery {

            grid-template-columns: 1fr;
            grid-gap: 1px;
            max-width: 200px
        }
        .class {
            grid-column: span 1;

        }
        h1 {
            grid-column: span 1;
        }
    }

    @media only screen and (min-width: 500px) {
        .gallery {

            grid-template-columns: 1fr 1fr;
            grid-gap: 3px;
            max-width: 500px;
        }
        .class {
            grid-column: span 1;

        }
        h1 {
            grid-column: span 2;
        }
    }

    @media only screen and (min-width: 700px) {
        .gallery {

            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 5px;
        }
        .class {
            grid-column: span 1;

        }
        h1 {
            grid-column: span 4;
        }
    }

    /* generic styles */

    body {
        padding-top: 10px;
    }

    .class {
        max-width: 250px;
        max-height: 250px;
        padding: 10px;
    }

    .gallery {
        display: grid;
    }
</style>