<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title Element not found!
  body
    h1 404
    h2 Element not found!
    p
      button(type="submit" onclick="redirect()") Back
  script.
    function redirect() {
      window.location = "/"}
