extends ./layout

block body
  div#notFound
    h3 404
    h5 Page not found.
    p That item doesn't exist in our database. Perhaps you would like to
      a(href="/gallery/new") &nbsp;
        span create it.
    a(href="/") Main Page