<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title Express Gallery
    link(rel="stylesheet" type="text/css" href="/styles/styles.css")
  body
    div(id="top-of-gallery")
      div(id="header")
        h1 _ARCHITEKT
      div(id="about")
        p Welcome to our online profile, we are small group of passionate designers and architects, looking to change and create amazing digital images to inspire others to follow in our innovate steps. Free Architect WordPress Theme
    each val in picture
      div(id="picture")
        div
          img(src=val.url)
        div
          span val.author
        div
          span val.description
