<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title Express Gallery
    link(rel="stylesheet" type="text/css" href="/styles/styles.css")
  body
    h1 _Express Gallery
    div
      h2 Uploaded by: #{picture.author}
      div
        img(src=picture.url width="100%" height="100%")
      div
        p= picture.description
        p Copyright: #{picture.url}