<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title Express Gallery
    link(rel="stylesheet" type="text/css" href="/styles/styles.css")
  body
    div
      each val in pictures
        img(src=val.url id="pictures")
        li= val.author
        li= val.description
