extends ./layout.pug

block body
  div#main
    img(src=`${featured.link}`)
    div#gallery
      each photo in gallery
        div.galleryPreview
          a(href=`/gallery/${photo.id}`)
            img(src=`${photo.link}`)
            h5 #{photo.title}