<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Express-Gallery
body
  ol
    each pic in Galleries
      li #{pic.description}
        ul
          img(src= '#{pic.link}')
          p By: #{pic.author}
