doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    link(rel="stylesheet" type="text/css" href="/css/styles.css")
    title _ARCHITEKT
  body
    div#header
      a(href='/')
        h1 _ARCHITEKT
      div#headerDesc Welcome to our online portfolio. We are a small group of passionate designers and architects, looking to change and create amazing digital images to inspire others to follow in our innovative steps.
    block body