extends ./layout

block body
  -var br = '<br />'
  div#login
    form(method="POST" action="/login")
      h5 Login existing user
      input(type="text" name="username" placeholder="username")

      input(type="password" name="password" placeholder="password")

      button(type="submit") Login

      a(href="/logout")
        button Logout
    form(method="POST" action="/users" id=`${status}`)
      if status === 'invalid'
        h5 Username cannot contain special characters.
      else
        h5 Create account
      input(type="text" name="username" placeholder="username" required)

      input(type="password" name="password" placeholder="password" required)

      input(type="text" name="email" placeholder="email address" required)

      button(type="submit") Create Account