<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Express Gallery
body
  h1 Submit New Image
  block content
    form(method="POST", action="/gallery/#{id}?_method=PUT")
      input(type="text", name="author", value=author placeholder="Author Name")
      br
      br
      input(type="text", name="link", value=link placeholder="Image URL Link")
      br
      br
      input(type="text", name="description", value=description placeholder="Description")
      br
      br
      input(type="submit" value="Submit new image!")