/* line 8, /Users/caseyoeda/DevLeague/express-gallery/sass/styles.scss */
html {
  font-family: sans-serif; }

/* line 13, /Users/caseyoeda/DevLeague/express-gallery/sass/styles.scss */
body {
  background: #fdfdfd;
  color: #606060;
  font-size: 14px; }

/* line 19, /Users/caseyoeda/DevLeague/express-gallery/sass/styles.scss */
h5 {
  font-size: 16px;
  font-weight: bolder; }

/* line 24, /Users/caseyoeda/DevLeague/express-gallery/sass/styles.scss */
#photoTitle {
  color: #909090;
  width: 85%;
  margin: auto;
  padding-bottom: 12px; }

/* line 31, /Users/caseyoeda/DevLeague/express-gallery/sass/styles.scss */
#header {
  height: 72px;
  color: #909090;
  width: 90%;
  margin: auto;
  margin-bottom: 24px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between; }
  @media (min-width: 900px) {
    /* line 31, /Users/caseyoeda/DevLeague/express-gallery/sass/styles.scss */
    #header {
      width: 85%;
      height: 88px;
      padding: 8px;
      border-top: 1px solid #a0a0a0;
      margin-top: 64px;
      margin-bottom: 48px; } }
  /* line 49, /Users/caseyoeda/DevLeague/express-gallery/sass/styles.scss */
  #header h1 {
    flex: 0 1 auto;
    font-size: 56px;
    text-align: center;
    font-weight: bold;
    color: #606060;
    width: 100%; }
    @media (min-width: 900px) {
      /* line 49, /Users/caseyoeda/DevLeague/express-gallery/sass/styles.scss */
      #header h1 {
        font-size: 72px;
        width: 45%; } }

/* line 63, /Users/caseyoeda/DevLeague/express-gallery/sass/styles.scss */
#headerDesc {
  font-size: 14px;
  flex: 0 1 auto;
  width: 35%;
  border-left: 1px solid #a0a0a0;
  padding-left: 16px;
  display: none; }
  @media (min-width: 900px) {
    /* line 63, /Users/caseyoeda/DevLeague/express-gallery/sass/styles.scss */
    #headerDesc {
      display: inline-block; } }

/* line 75, /Users/caseyoeda/DevLeague/express-gallery/sass/styles.scss */
#newPostForm, #editPostForm {
  width: 90%;
  margin: auto; }
  @media (min-width: 900px) {
    /* line 75, /Users/caseyoeda/DevLeague/express-gallery/sass/styles.scss */
    #newPostForm, #editPostForm {
      width: 85%; } }

/* line 83, /Users/caseyoeda/DevLeague/express-gallery/sass/styles.scss */
textarea, input[type=text] {
  width: 100%;
  resize: vertical;
  font-family: sans-serif; }
  @media (min-width: 900px) {
    /* line 83, /Users/caseyoeda/DevLeague/express-gallery/sass/styles.scss */
    textarea, input[type=text] {
      width: 62.5%; } }

/* line 92, /Users/caseyoeda/DevLeague/express-gallery/sass/styles.scss */
#main {
  width: 90%;
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: space-between; }
  @media (min-width: 900px) {
    /* line 92, /Users/caseyoeda/DevLeague/express-gallery/sass/styles.scss */
    #main {
      flex-flow: row wrap;
      width: 85%; } }

/* line 105, /Users/caseyoeda/DevLeague/express-gallery/sass/styles.scss */
#gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: auto;
  margin-top: 8px;
  width: 95%; }
  @media (min-width: 900px) {
    /* line 105, /Users/caseyoeda/DevLeague/express-gallery/sass/styles.scss */
    #gallery {
      width: 100%; } }

/* line 116, /Users/caseyoeda/DevLeague/express-gallery/sass/styles.scss */
.galleryPreview {
  width: 100%; }
  @media (min-width: 900px) {
    /* line 116, /Users/caseyoeda/DevLeague/express-gallery/sass/styles.scss */
    .galleryPreview {
      width: 32%; } }

/* line 123, /Users/caseyoeda/DevLeague/express-gallery/sass/styles.scss */
.preview {
  width: 100%; }

/* line 127, /Users/caseyoeda/DevLeague/express-gallery/sass/styles.scss */
.relatedPhoto {
  text-align: right; }
  /* line 129, /Users/caseyoeda/DevLeague/express-gallery/sass/styles.scss */
  .relatedPhoto h5 {
    text-align: left;
    margin-top: 12px;
    margin-bottom: 24px; }

/* line 135, /Users/caseyoeda/DevLeague/express-gallery/sass/styles.scss */
.relatedPreview {
  width: 100%; }
  @media (min-width: 900px) {
    /* line 135, /Users/caseyoeda/DevLeague/express-gallery/sass/styles.scss */
    .relatedPreview {
      width: 250px; } }

/* line 142, /Users/caseyoeda/DevLeague/express-gallery/sass/styles.scss */
#featured {
  margin: auto;
  padding: 8px;
  border-bottom: 1px solid #a0a0a0;
  width: 90%; }
  @media (min-width: 900px) {
    /* line 142, /Users/caseyoeda/DevLeague/express-gallery/sass/styles.scss */
    #featured {
      width: 85%; } }

/* line 152, /Users/caseyoeda/DevLeague/express-gallery/sass/styles.scss */
#featuredImage {
  width: 100%; }

/* line 156, /Users/caseyoeda/DevLeague/express-gallery/sass/styles.scss */
#photoDiv {
  width: 100%; }
  @media (min-width: 900px) {
    /* line 156, /Users/caseyoeda/DevLeague/express-gallery/sass/styles.scss */
    #photoDiv {
      width: 60%; } }

/* line 162, /Users/caseyoeda/DevLeague/express-gallery/sass/styles.scss */
.detail {
  width: 100%; }

/* line 166, /Users/caseyoeda/DevLeague/express-gallery/sass/styles.scss */
#sidebar {
  width: 100%;
  flex-flow: column nowrap;
  display: none; }
  @media (min-width: 900px) {
    /* line 166, /Users/caseyoeda/DevLeague/express-gallery/sass/styles.scss */
    #sidebar {
      display: inline-block;
      width: 250px; } }
