{{>header}}

<div class="register">
  <h1 class="header">Create an Account</h1>
  <form action="/register" method="POST">
    <label for="username">Username:</label>
    <input type="text" name="username" autofocus />
    <label for="password">Password:</label>
    <input type="password" name="password" />
    <button>Submit</button>
  </form>
  <p class="check__account">Already have an account? <span><a href="/login" class="switch__link">Log in here</a></span></p>
</div>
<h3 class="flash">{{message}}</h3>