extends ./../layout
block content
  #new-post
    a(href="/gallery/new")
      p New Post
  .main
    each photo in Photos
      .thumbnail
        a(href="/gallery/#{photo.id}")
          img.portrait(src="#{photo.link}")
      ul
        li #{photo.author}&nbsp;- #{photo.link}
    #footer
      p &nbsp;




