<!DOCTYPE html>
<html lang='en'>

<head>
    <% include ../partials/head %>
</head>

<body class='container'>

    <header>
        <% include ../partials/header %>
    </header>
    <main>
        <div class="row">
            <div class='main-photo'>
                <h1>Where detail for photo will go</h1>
            </div>
        </div>

        <div class='col-sm-4'>
            <div class='well'>
                <h3> populated with other gallery images</h3>
            </div>
        </div>
    </main>
    <footer>
        <% include ../partials/footer %>
    </footer>
</body>

</html>