body {
  background-color: white; }

#border {
  border-style: double; }

div {
  display: flex;
  align: center;
  height: 100%;
  background-color: #ff0000;
  border-style: dotted; }
  div #header {
    flex: 1 1 75%; }
  div #about {
    flex: 1 1 25%; }
  div #picture {
    flex: 1 1 33%; }
  div #url {
    border-style: solid;
    border-left-color: #00FFFF;
    align: left; }
  div #author {
    border-style: solid;
    border-left-color: #7FFF00;
    align: left; }
  div #description {
    border-style: solid;
    border-left-color: #00008B;
    align: left; }
  div #submit {
    border-style: solid;
    border-left-color: #8B008B;
    align: left; }
  div #galleryPhoto {
    border-style: solid;
    align: left;
    width: 33%;
    height: 33%; }
  div #galleryPhoto:hover {
    border-style: double;
    align: left; }
