doctype html
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title Express Gallery
  link(rel="stylesheet", href="./../css/styles.css")
body
  .main
    h1 _Woofitekt
    ul.button
      li
        form(method="GET", action="/gallery/new")
          button(type="submit", value="submit") New Post
      li
        form(method="GET", action="/login")
          button(type="submit", value="submit") Login
      li
        form(method="GET", action="/users")
          button(type="submit", value="submit") Sign Up
      li
        form(method="GET", action="/logout")
          button(type="submit", value="submit") Logout
    block content
