extends ./layout
block content
  div.content
    form(method="POST" action="/users")
      p new username:
        input(type="text" name="username")
      p email address:
        input(type="text" name="email_address")
      p password:
        input(type="password" name="password")
      p verify password:
        input(type="password" name="verifyPassword")
      button(type="submit") Sign Up